// Descriptive color variables

$white          : #fff;
$grey           : #333333;
$red            : #f0141e;

// Font stacks

$font             : 'Open Sans', Helvetica, sans-serif;
$fontBold         : 'Open Sans', Helvetica, sans-serif;